name: Mirror to MONTest-source

on:
  push:
    branches: ["**"]       # todas las ramas
  delete:
    branches: ["**"]
  create:
    branches: ["**"]
  workflow_dispatch:


jobs:
  mirror:
    runs-on: ubuntu-latest
    # evita bucles iniciados por el propio bot
    if: github.actor != 'github-actions[bot]'
    steps:
      - name: Checkout (historia completa)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Config Git
        run: |
          git config user.name  "mirror-bot"
          git config user.email "mirror-bot@users.noreply.github.com"

      - name: Push --mirror a MONTest-source
        env:
          MIRROR_URL: https://MONTest-source:${{ secrets.MIRROR_PAT }}@github.com/MONTest-source/REPO.git
        run: |
          # --mirror = ramas, tags y borrados
          git push --mirror "$MIRROR_URL"
